@import "@/assets/scss/variables.scss";

.index-wrap {
  width: 100%;
  height:100vh;
}

.el-tabs.el-tabs--border-card {
  box-shadow: none;
  border-bottom: none;
}

.app-wrap{
  padding: 20px;
}
.content-wrap{
  border: 1px solid #DCDFF7;
  border-top: none;
}